<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109200746602-6m2c7t420re8jglnemi2tdmjaeq1jbhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109200746602-6m2c7t420re8jglnemi2tdmjaeq1jbhs</string>
	<key>API_KEY</key>
	<string>AIzaSyD2mfjh36XDiU1Z7oOtG4-Yi6oRSTYDmo8</string>
	<key>GCM_SENDER_ID</key>
	<string>109200746602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opsolutions.Register-Login-Form</string>
	<key>PROJECT_ID</key>
	<string>register-login-form-bc20d</string>
	<key>STORAGE_BUCKET</key>
	<string>register-login-form-bc20d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109200746602:ios:3b7c1e30cc78b74521c213</string>
</dict>
</plist>